#friends-display-link {
  text-align: center;
  display: block;
  background-color: #fafafa;
  color: #2e363e;
  padding: 15px 0px;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.3);
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}

.friends-screen__channel {
  margin-top: 20px;
  border-top: 0.5px solid rgba(0, 0, 0, 0.4);
  padding-top: 17px;
}

.friends-screen__channel-header {
  color: rgba(0, 0, 0, 0.4);
  justify-content: space-between;
  display: flex;
}
